<!doctype html>
<title>Login</title>
<h1>Login</h1>
<form method="post">
  <label>Username:</label>
  <input type="text" name="username">
  <label>Password:</label>
  <input type="password" name="password">
  <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
